/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */

/* basic elements */
html {
	font-family: Arial;
	background-image: url(seigaiha.png);
	background-size: cover;
}

h1 {
	text-align:center;
	font-size: 35px;
	color: #dddfd4;
	background-color: #173e43;
	opacity: 0.5;
	padding-top: 50px;
	padding-bottom; 50px;
	margin: 0px;
}

h2 {
	font-family: cursive;
	text-align: center;
	font-size: 24px;
	color: #fae596;
	background-color: #173e43;
	opacity: 0.75;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
}

h3 {
	font-family: Arial;
	color: #173e43;
}

ul {
	padding: 0 0 0 10px;
	margin: 0;
}

li a {
	color: black;
	line-height: 140%;
}

a:link {
  color: #173e43;
	text-decoration: none;
}

a:visited {
  color: #4d4d4d;
}

a:hover {
    color: #ff3300;
}

abbr {
	border-bottom: 1px solid #fc4a1a;
	position: relative;
}

abbr:hover::after {
    position: static;
    display: inline;
    padding: 5px;
    background-color: #4abdac;
		font-size: small;
    content: attr(title);
}

/* summary */

.summary {
	margin: 10px 100px 10px 10px;
	padding: 10px;
}

#zen-summary {
	margin: 10px;
	margin-right: 60px;
	background-color: #d9d9d9;
}

/* preamble */

.preamble {
	padding: 10px;
	background-color: #d9d9d9;
	margin: 10px;
	margin-right: 60px;
}


/* designs */
.design-selection {
  text-align: center;
}


/* explanation */

.explanation {
	margin: 10px ;
	margin-right: 60px;
	padding:  15px;
	background: #d9d9d9;
}


/* participation */

.participation {
	margin: 10px;
	margin-right: 60px;
	padding: 15px;
	background-color: #d9d9d9;
}

/* benefits */

.benefits {
	margin: 10px;
	padding: 15px;
	background-color: #d9d9d9;
}

/* requirements */

.requirements {
	margin: 10px;
	padding: 15px;
	background-color: #d9d9d9;
}

/* design */

h3.select {
}

.sidebar {
	text-algin: center;
	width: 50px;
	text-align: center;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 3px;
  transition: 2s width;
	height: 800px;
	background-color: #3fb0ac;
	color: white;
}

.sidebar li {
  display: block;
  list-style: outside none none;
}

.sidebar ul {
	margin: 0 50px 0 50px;
}

.sidebar a {
  padding: 0.4em 0;
  color: black;
  position: relative;
  text-decoration: none;
  display: inline;
	transition: 2s width;
}

.sidebar:hover {
	width: 250px;
}


/* archives */
.design-archives {
  text-align: center;
  letter-spacing: 2px;
}

.design-archives li {
  list-style: outside none none;
}

.design-archives a:hover,
.design-archives .current a {
  color: #fc4a1a;
}



/* aside */

aside {
	float: left;
	position: absolute;
	margin: 10px 10px 10px 10px;
	padding: 15px;
}

/* resources */

.zen-resources li {
	list-style-type: none;
}

/* footer */

footer {
	background-color: #173e43;
	padding: 20px 100px 20px 100px;
	margin: 0px;
	text-align: center;
}

footer a {
	position: center;
	background-color: #3fb0ac;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
}

footer a:hover {
	opacity: 0.5;
}

